.about-section {
  padding: 1rem;
  background-color: #f5f5f5; /* opcional */
}


.about-description {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  line-height: 1.6;
  margin: 10px 0;
  color: #333;
}

